{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}
<main class="bg-body-i-w">
    <h1>Itens</h1>
    <h2>Sala - C13</h2>

    <div class="search-container">
        <input class="input-itens" type="text" placeholder="Buscar..."> 
        <button>
            <span class="material-symbols-outlined" id="iconItens">
                edit
            </span>
        </button>
        <button>
            <span class="material-symbols-outlined" id="iconItens">
                delete
            </span>
        </button>
        <button>
            <span class="material-symbols-outlined" id="iconItens">
                filter_list
            </span>
        </button>
        <button class="add-button">
            <span class="material-symbols-outlined" id="iconItens">
                add_circle
            </span> <p class="add-text">Adicionar</p>
        </button>
    </div>

    <div class="items-container">
        {% for item in inventario %}
        <div class="item-card">
            <div class="bg-img">
                <img src="{{ item.link_imagem }}" alt="{{ item.denominacao }}">
            </div>
            <div class="inf">
                <h3>{{ item.denominacao }}</h3>
                <p>{{ item.num_inventario }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
