{% extends "index.html" %}
{% load static %}

{% block body %}

{% include "navbar.html" %}
<main class="bg-body-i-w">
    <h1>Itens</h1>
    <h2>Sala - C13</h2>

    <div class="search-container">
        <input type="text" placeholder="Buscar..."> 
        <button>
            <span class="material-symbols-outlined" id="iconItens">
                edit
            </span>
        </button>
        <button>
            <span class="material-symbols-outlined" id="iconItens">
                delete
            </span>
        </button>
        <button>
            <span class="material-symbols-outlined" id="iconItens">
                filter_list
            </span>
        </button>
        <button class="add-button">
            <span class="material-symbols-outlined" id="iconItens">
                add_circle
            </span> <p class="add-text">Adicionar</p>
        </button>
    </div>

    <div class="items-container">
        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/cadeira.png' %}" alt="Computadores">
            </div>
            <div class="inf">
                <h3>Computadores</h3>
                <p>40 Notebooks</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/carteira.png' %}" alt="Cadeiras">
            </div>
            <div class="inf">
                <h3>Cadeiras</h3>
                <p>40 Cadeiras</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/pc.png' %}" alt="Mesas">
            </div>
            <div class="inf">
                <h3>Mesas</h3>
                <p>40 Mesas</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/cadeira.png' %}" alt="Cadeiras">
            </div>
            <div class="inf">
                <h3>Cadeiras</h3>
                <p>40 Cadeiras</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/carteira.png' %}" alt="Mesas">
            </div>
            <div class="inf">
                <h3>Mesas</h3>
                <p>40 Mesas</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/pc.png' %}" alt="Computadores">
            </div>
            <div class="inf">
                <h3>Computadores</h3>
                <p>40 Notebooks</p>
            </div>
        </div>
        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/cadeira.png' %}" alt="Cadeiras">
            </div>
            <div class="inf">
                <h3>Cadeiras</h3>
                <p>40 Cadeiras</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/carteira.png' %}" alt="Mesas">
            </div>
            <div class="inf">
                <h3>Mesas</h3>
                <p>40 Mesas</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/pc.png' %}" alt="Computadores">
            </div>
            <div class="inf">
                <h3>Computadores</h3>
                <p>40 Notebooks</p>
            </div>
        </div>
        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/cadeira.png' %}" alt="Cadeiras">
            </div>
            <div class="inf">
                <h3>Cadeiras</h3>
                <p>40 Cadeiras</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/carteira.png' %}" alt="Mesas">
            </div>
            <div class="inf">
                <h3>Mesas</h3>
                <p>40 Mesas</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/pc.png' %}" alt="Computadores">
            </div>
            <div class="inf">
                <h3>Computadores</h3>
                <p>40 Notebooks</p>
            </div>
        </div>
        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/cadeira.png' %}" alt="Cadeiras">
            </div>
            <div class="inf">
                <h3>Cadeiras</h3>
                <p>40 Cadeiras</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/carteira.png' %}" alt="Mesas">
            </div>
            <div class="inf">
                <h3>Mesas</h3>
                <p>40 Mesas</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/pc.png' %}" alt="Computadores">
            </div>
            <div class="inf">
                <h3>Computadores</h3>
                <p>40 Notebooks</p>
            </div>
        </div>
        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/cadeira.png' %}" alt="Cadeiras">
            </div>
            <div class="inf">
                <h3>Cadeiras</h3>
                <p>40 Cadeiras</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/carteira.png' %}" alt="Mesas">
            </div>
            <div class="inf">
                <h3>Mesas</h3>
                <p>40 Mesas</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/pc.png' %}" alt="Computadores">
            </div>
            <div class="inf">
                <h3>Computadores</h3>
                <p>40 Notebooks</p>
            </div>
        </div>
        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/cadeira.png' %}" alt="Cadeiras">
            </div>
            <div class="inf">
                <h3>Cadeiras</h3>
                <p>40 Cadeiras</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/carteira.png' %}" alt="Mesas">
            </div>
            <div class="inf">
                <h3>Mesas</h3>
                <p>40 Mesas</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/pc.png' %}" alt="Computadores">
            </div>
            <div class="inf">
                <h3>Computadores</h3>
                <p>40 Notebooks</p>
            </div>
        </div>
        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/cadeira.png' %}" alt="Cadeiras">
            </div>
            <div class="inf">
                <h3>Cadeiras</h3>
                <p>40 Cadeiras</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/carteira.png' %}" alt="Mesas">
            </div>
            <div class="inf">
                <h3>Mesas</h3>
                <p>40 Mesas</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="{% static 'img/pc.png' %}" alt="Computadores">
            </div>
            <div class="inf">
                <h3>Computadores</h3>
                <p>40 Notebooks</p>
            </div>
        </div>
    </div>
</main>

{% endblock %}